*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.bg-color{
    background-color: rgb(94, 167, 167,0.4);
   
}
.card{
    width: 30%;
    padding: 3%;
    box-shadow: 0px 0px 3px 3px #eee;
     color: black;
     margin-top: 4%;
     transition: 1s;
     border-radius: 10px;
}
.card p{
    opacity: 0.6;
}
.card h3{
    padding-bottom: 2%;
}
.corner{
    position: absolute;
    border-left:  solid #0aa39a;
    border-top:  solid transparent;
}
.corner i{
    position: absolute;
    top: -28px;
    left: 300px;
    color: white;
}
.container .card:nth-child(1):hover{
    background:#0aa39a;
    color:white;
}
.container .card:nth-child(2):hover p{
    color:white;
}
.container .card:nth-child(2):hover{
    transform: scale(1.05);
    background-color: white;
    box-shadow: 3px 3px 3px 3px #eee;
}
.container .card:nth-child(2):hover p{
    color:black;
    opacity: 0.6;
}

.container .card:nth-child(3):hover{
    border: 2px solid #0aa39a;
    transition: 0.2s;
}
.container .card:nth-child(3):hover p{
    color:#0aa39a;
}